In [3]:
import pandas as pd

In [141]:
file = "Resources/budget_data.csv"
analysis_text_file = "analysis/analysis_text.txt"
budget_data_df = pd.read_csv(file)
budget_data_df.head()

       Date  Profit/Losses
0  Jan-2010         867884
1  Feb-2010         984655
2  Mar-2010         322013
3  Apr-2010         -69417
4  May-2010         310503

In [142]:
total_months = len(budget_data_df['Date'])
total_months

86

In [145]:
total_profit = budget_data_df['Profit/Losses'].sum()
total_profit

38382578

In [146]:
average_roc = (((budget_data_df['Profit/Losses'][85])-(budget_data_df['Profit/Losses'][0]))/(86-1))
average_roc

-2315.1176470588234

In [147]:
dates = budget_data_df['Date'][0:86]

change = [budget_data_df['Profit/Losses'][i+1]-budget_data_df['Profit/Losses'][i] for i in range(0,84)]

greatest_increase = max(change)
greatest_decrease = min(change)

#Change begins starting with the second entry in the original csv. Therefore I will take the index of the 'change' list and add 1 to get the correct
#index for the 'dates' series.

change.index(greatest_increase)+1
change.index(greatest_decrease)+1

increase_date = dates[25]
decrease_date = dates[44]

In [148]:
analysis_text = (f"Financial Analysis\n"
                 f"--------------------------\n"
                 f"Total Months: {total_months}\n"
                 f"Total: ${total_profit}\n"
                 f"Average Change: ${average_roc}\n"
                 f"Greatest Increase in Profit: {increase_date} (${greatest_increase})\n" 
                 f"Greatest Decrease in Profit: {decrease_date} (${greatest_decrease})\n")
print(analysis_text)

Financial Analysis
--------------------------
Total Months: 86
Total: $38382578
Average Change: $-2315.1176470588234
Greatest Increase in Profit: Feb-2012 ($1926159)
Greatest Decrease in Profit: Sep-2013 ($-2196167)

In [150]:
with open (analysis_text_file, "w") as txt_file:
    txt_file.write(analysis_text)